@import "common/colors";

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: @color_bg2;
}

.title {
  width: 100vw;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @color_border;
}

.title-text {
  width: 37em;
  color: @color_bg2;
  font-size: 1.2em;
}

.checkout-wrapper {
  width: 43em;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.certificate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6em;
}

.certificate-image {
  width: 5em;
  height: 5em;
  background-color: @color_bg4;
}

.certificate-details {
  width: 31em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.certificate-title {
  font-weight: bold;
  font-size: 1.2em;
}

.item-desc {
  width: 25em;
  font-size: 0.9em;
}

.item-price {
  width: 3em;
  font-size: 1.2em;
  justify-content: start;
}

.total {
  display: flex;
  justify-content: end;
  gap: 3em;
  border-top: 1px solid @color_bg3;
  padding-top: 2em;
  font-size: 1.2em;
}

.total-sum {
  width: 3em;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 1em;
  padding-top: 3em;
}

button {
  width: 12em;
  height: 2.5em;
  border: 1px solid @color_border;
  background-color: @color_bg2;
  color: @color_font;
  font-weight: bold;
}

.button-checkout {
  background-color: @color_button_green;
  color: @color_bg2;
  font-weight: normal;
}