@import "common/colors";

.login-wrapper {
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid @color_border;
  background-color: @color_bg2;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.logo {
  min-height: 190px;
  width: 190px;
  position: relative;
  top: -83px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47px;
  font-weight: bold;
  color: @color_bg2;
  background-color: @color_bg3;
  border-radius: 100px;
}

.form-login {
  position: relative;
  top: -60px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input-login {
  height: 37px;
  width: 250px;
  border: 1px solid @color_border2;
  font-size: 19px;
  text-align: center;
}

.login-button {
  color: @color_bg2;
  background-color: @color_button_green;
}
