@import "common/colors";

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: @color_bg2;
}

.title {
  width: 100vw;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @color_bg3;
}

.title-text {
  width: 38em;
  color: @color_bg2;
  font-size: 1.2em;
}

.form-item-wrapper {
  padding: 1em 1.2em;
  display: flex;
  gap: 5em;
}

.item-wrapper {
  display: flex;
}

.item-columns {
  display: flex;
  flex-direction: column;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  font-size: 0.7em;
  font-weight: bold;
  color: @color_font;
}

.input-item {
  height: 2.5em;
  width: 24em;
  border: 1px solid @color_border2;
}

.input-images {
  background: @color_bg2 url('https://static.thenounproject.com/png/2886259-200.png') no-repeat scroll 285px 10px;
  background-size: 1em 1em;
}

#short-desc, #long-desc {
  height: 7.4em;
}

.form-buttons {
  margin-top: 1.2em;
  display: flex;
  gap: 1em;
}

.buttons-item {
  height: 2.3em;
  width: 11.6em;
  background-color: @color_bg2;
  border: 1px solid @color_border;
  color: @color_font;
  font-weight: bold;
}

.button-save {
  background-color: @color_button_green;
  color: @color_bg2;
}