@import "common/colors";

.register-wrapper {
  display: flex;
  flex-direction: column;
  background-color: @color_bg2;
}

.header-register {
  padding: 0.8em 1em;
  color: @color_bg2;
  background-color: @color_border;
  font-size: 1.2em;
}

.form-register-wrapper {
  padding: 1em 1.2em;
  display: flex;
  gap: 1.2em;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  font-size: 0.7em;
  font-weight: bold;
  color: @color_font;
}

.input-register {
  height: 3em;
  width: 30vw;
  border: 1px solid @color_border2;
}

.form-buttons {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.buttons-register {
  height: 2em;
  width: 14.6vw;
  background-color: @color_bg2;
  border: 1px solid @color_border;
  color: @color_font;
  font-weight: bold;
}

.button-register {
  background-color: @color_button_green;
  color: @color_bg2;
}